#map {
margin-top: 2em;
}

#map img {
border-radius: 2em 2em 2em 2em;
border: 2px solid;
height: 22em;
}

#weather{
    background-color: #DDD;
}

#chart1 svg {
    height: 15em;
    min-width: 100px;
    min-height: 100px;
}

.gridster li header {
    background: #D40E00;
    display: block;
    font-size: 20px;
    line-height: normal;
    padding: 4px 0 6px ;
    margin-bottom: 20px;
    cursor: move;
    color: #FFF;
}

.gridster .gs-w {
    background-color: #FFF;
}

#weather, #photoInfo{
    background-color: #F5F5F5;
    border: 1px solid;
    border-radius: 1em;
    color: black;
    line-height: 2em;
}

#photo img{
    border-radius: 1em;
    border: 2px solid;
    margin-top: 1em;
}

#input_refresh, #inputBird_refresh{
    height: 2em;
    margin-bottom: 1em;
    width: 5em;
}

#pushBirdButton{
    height: 3em;
    margin-top: 2em;
    width: 9em;
}

#listenBird  audio{
    margin-top: 1em;
}
}
