<head>
</head>
<body>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>




	<script type="text/javascript">

		var text = escape("apus apus");

		var urlBirdSounds = 'http://www.xeno-canto.org/api/2/recordings?query='+escape(text)+'&q:A';


		urlBirdSounds = 'https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20json%20where%20url%3D%22http%3A%2F%2Fwww.xeno-canto.org%2Fapi%2F2%2Frecordings%3Fquery%3D'+escape(text)+'%26q%3AA%22&format=json&callback='

		
		console.log(urlBirdSounds);

		$.ajax({
			type: "GET",
			url: urlBirdSounds,
		})
		.success(function(data) {
			console.log(data);
			var soundList = data["query"]["results"]["json"]["recordings"];
			var numSounds = data["query"]["results"]["json"]["numRecordings"];
			console.log(soundList);
			console.log(numSounds);
		});


	</script>
</body>


