<div ng-show="formDisplayed">
    <div class="modal fade" id="loginModal" tabindex="-1" +="" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">X</button>
                    <h3> </h3>
                </div>
                <div class="modal-body">

                    <!-- BIRDS FORM -->

                    <form ng-show='resource=="birds"' id="birdForm" name="birdForm" ng-submit="addRowForm()" role="form" novalidate>
                        <legend>Adding a new bird</legend>
                        <!-- testing validation with Angular. TODO. check why is not working. ADD 'NOVALIDATE' ATRIB TO TEST -->
                        <!--<div class="form-group" ng-class="{'has-error': birdForm.input-id.$invalid}">
                            <label for="input-id">Bird ID</label>
                            <input type="text" class="form-control" id="input-id" ng-model="id" placeholder="" required="required">
                            <span class="help-block" ng-show="birdForm.input-id.$dirty && birdForm.input-id.$invalid">Bird ID Required</span>
                        </div>-->
                        <!-- BIRD ID -->
                        <div class="form-group">
                            <label for="input-id">Bird ID</label>
                            <input type="text" class="form-control" id="input-id" ng-model="bird.id" placeholder="" required="required">
                        </div>
                        <!-- SPECIE -->
                        <div class="form-group">
                            <label for="input-specie">Specie</label>
                            <input type="text" class="form-control" id="input-specie" ng-model="bird.specie" placeholder="" required="required">
                        </div>
                        <!-- PLACE -->
                        <div class="form-group">
                            <label for="input-place">Place</label>
                            <select name="input-place" ng-init="place=0" id="input-place" class="form-control" ng-model="bird.place" required="required">
                                <option value="0" selected>Choose One</option>
                                <option value="Robledal">Robledal</option>
                                <option value="Pinar">Pinar</option>
                            </select>
                        </div>
                        <!-- LEG DIAMETER -->
                        <div class="form-group">
                            <label for="input-legDiameter">Leg Diameter</label>
                            <input type="text" class="form-control" id="input-legDiameter" ng-model="bird.legDiameter" placeholder="" smartFloat required="required">
                        </div>
                        <!-- WING SIZE -->
                        <div class="form-group">
                            <label for="input-wingSize">Wing Size</label>
                            <input type="text" class="form-control" id="input-wingSize" ng-model="bird.wingSize" placeholder="" smartFloat required="required">
                        </div>
                        <!-- EGGS -->
                        <div class="form-group">
                            <label for="input-eggs">Eggs</label>
                            <input type="number" class="form-control" id="input-eggs" ng-model="bird.eggs" placeholder="" min="0" step="1" integer required="required">
                        </div>
                        <!-- HATCHES -->
                        <div class="form-group">
                            <label for="input-eclosions">Hatches</label>
                            <input type="number" class="form-control" id="input-eclosions" ng-model="bird.eclosions" placeholder="" min="0" step="1" integer required="required">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>


                    <!-- WATCHINGS FORM -->

                    <form ng-show='resource=="watchings"' id="birdForm" name="birdForm" ng-submit="addRowForm()" role="form" novalidate>
                        <legend>Adding a new watching</legend>

                        <!-- GUI -->
                        <div class="form-group">
                            <label for="input-GUI">GUI</label>
                            <input type="text" class="form-control" id="input-GUI" ng-model="watching.GUI" placeholder="" required="required">
                        </div>
                        <!-- SPECIE -->
                        <div class="form-group">
                            <label for="input-species">Specie</label>
                            <input type="text" class="form-control" id="input-species" ng-model="watching.species" placeholder="" required="required">
                        </div>
                        <!-- COMMON NAME -->
                        <div class="form-group">
                            <label for="input-commonName">Common Name</label>
                            <input type="text" class="form-control" id="input-commonName" ng-model="watching.commonName" placeholder=""  required="required">
                        </div>
                        <!-- PLACE -->
                        <div class="form-group">
                            <label for="input-watchSiteName">Place</label>
                            <input type="text" class="form-control" id="input-watchSiteName" ng-model="watching.watchSiteName" placeholder="" smartFloat required="required">
                        </div>
                        <!-- LATITUDE -->
                        <div class="form-group">
                            <label for="input-latitude">Latitude</label>
                            <input type="text" class="form-control" id="input-latitude" ng-model="watching.latitude" placeholder="" smartFloat required="required">
                        </div>
                        <!-- LONGITUDE -->
                        <div class="form-group">
                            <label for="input-longitude">Longitude</label>
                            <input type="text" class="form-control" id="input-longitude" ng-model="watching.longitude" placeholder=""  smartFloat required="required">
                        </div>
                        <!-- DATE -->
                        <!--<div class="form-group">
                            <label for="input-date">Date</label>
                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="watching.date" is-open="opened1" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        </div>-->
                        <div class="form-group">
                            <label for="input-date">Date</label>
                            <input type="text" class="form-control" id="input-date" ng-model="watching.date" placeholder="yyyy-mm-dd"  required="required">
                        </div>


                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                    <!-- LOCATIONS FORM -->

                    <form ng-show='resource=="locations"' id="birdForm" name="birdForm" ng-submit="addRowForm()" role="form" novalidate>
                        <legend>Adding a new location</legend>
                        
                        <!-- ID -->
                        <div class="form-group">
                            <label for="input-id">ID</label>
                            <input type="text" class="form-control" id="input-id" ng-model="location.id" placeholder="" required="required">
                        </div>
                        <!-- PLACE -->
                        <div class="form-group">
                            <label for="input-place">Place</label>
                            <select name="input-place" ng-init="place=0" id="input-place" class="form-control" ng-model="location.place" required="required">
                                <option value="0" selected>Choose One</option>
                                <option value="Robledal">Robledal</option>
                                <option value="Pinar">Pinar</option>
                            </select>
                        </div>
                        <!-- NVDI -->
                        <div class="form-group">
                            <label for="input-nvdi">NVDI</label>
                            <input type="text" class="form-control" id="input-nvdi" ng-model="location.nvdi" placeholder="" smartFloat required="required">
                        </div>
                        <!-- TEMPERATURE -->
                        <div class="form-group">
                            <label for="input-temp">Temperature</label>
                            <input type="text" class="form-control" id="input-temp" ng-model="location.temp" placeholder="" smartFloat required="required">
                        </div>
                        <!-- DATE -->
                        <!--<div class="form-group">
                            <label for="input-date">Date</label>
                            <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="location.date" is-open="opened2" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        </div>-->
                        <div class="form-group">
                            <label for="input-date">Date</label>
                            <input type="text" class="form-control" id="input-date" ng-model="location.date" placeholder="yyyy-mm-dd"  required="required">
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


