/*style.css*/
.gridStyle {
	border: 1px solid rgb(212,212,212);
	width: 100%; 
	min-height: 400px;
	overflow:auto;
	overflow-x: hidden;
}

.modal-body {
	max-height: none;
}


.ngTopPanel, .ngFooterPanel{
	background-color: #C30000;
	color:#FFFFFF;

}

body{
	color:#FFFFFF;
}

.ngGrid, form, label{
	color:#333;
}